services:
    app:
        build: .
        ports:
            - "3001:3001"
        volumes:
            - ./user-data1:/app/user-data1
            - ./user_data2:/app/user_data2
        env_file:
            - .env
